<div class="pageHeader">
  <h1>My feeds</h1>
</div>
<div class="headerButtonContainer">
  <div class="feedActionButtonWrapper">
    <%= link_to 'Add a new Feed', new_feed_path %>
  </div>
</div>

<div class="feedsContainer">
  <div id="feedsWrapper">
    <div id="feedNames">  
      <% @feeds.each do |feed| %>
        <div class="feedName">
          <input type="hidden" class="feedID" value="<%= feed.id %>">
          <%= link_to feed.name, feed, :remote => true, :class => 'linkToFeed' %>
          <%= number_unread_items(feed)%>
          
        </div>
      <% end %>
    </div>
    <div id="feedContainer"></div>
  </div>
</div>