<div class="pageHeader">
  <h1>My feeds</h1>
  <span class="headerActionButtonWrapper"><%= link_to '+', new_feed_path, {:remote => true, :id => 'addFeed',
  "data-toggle" => "tooltip", "data-placement" => "right", :title =>"", "data-original-title" => "Subscribe to a new feed" }%></span>
</div>

<div class="feedsContainer">
  <div id="feedsWrapper">
    <div id="feedNames">  
      <% @feeds.each do |feed| %>
        <div class="feedName">
          <input type="hidden" class="feedID" value="<%= feed.id %>">
          <%= link_to feed.name_unread_items.html_safe, feed, :remote => true, :class => 'linkToFeed' %>
        </div>
      <% end %>
    </div>
    <div id="feedContainer"></div>
  </div>
</div>