/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require ../../../vendor/assets/stylesheets/jquery-ui-1.9.2.custom
 *= require screen
 *= require_self
 */

 @import 'bourbon';
 @import 'neat_variables';
 @import 'neat';

 $spacing: 10px;

 @mixin rss-button($colour) {
  margin: 10px;
  border: 1px solid darken($colour, 5);
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: $colour;
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0  darken($colour, 5);
  background-clip: padding-box;
}

.mainHeader {
  padding: $spacing;
  color: white;
  font-size: 0.8em;
  a {
    color: #eee;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  text-align: right;
  background: black;
  @inlude box-shadow(0 4px 4px -2px #ddd);
}

.clearance-sessions, .clearance-users, .clearance-passwords  {
  form {
    padding: 30px 30px 10px 30px;
  }
  p {
    padding-bottom: $spacing;
  }
  h2 {
    background-color: black;
    padding: $spacing;
  }
  
  .sessionActions {
    padding: 0px 30px 30px;
  }
  .content {
    @include box-shadow(0 0 8px 5px #ddd);
    margin: 0 auto;
    margin-top: 150px;
    width: 400px;
    background-color: #0081C4;
    label {
      display: block;
    }
    color: white;
    
    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

.field, .text_field, .password_field {
  margin-bottom: 8px;
  label {
    margin-bottom: 4px;
  }
}

.pageHeader {
  background-color: #0081C4;
  padding: $spacing;
  color: white;
}

.feedForm {
  padding: $spacing;
}

.popup-anchor {
  background-color: #eee;
}

input[type="submit"] {
  @include rss-button(#319727);
  margin: 0;
  width: auto;
}

input {
  width: 100%;
  padding: 8px;
}

.feedActionButtonWrapper a {
  @include rss-button(#d14836);
  margin: $spacing 0 $spacing $spacing;
}

.headerButtonContainer {
  background-color: #efefef;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

.feedItem {
  &:hover {
    background-color: #eee;
  }
  &.read {
    background: #dedede;
  }
  background: white;
  border-bottom: 1px solid #ccc;
  .feedItemContainer {
   border-left: 5px solid #222;
 }

  header {
    font-weight: bold;
    padding: $spacing;
    a{
      color: #333;
      text-decoration: none;

    }
    .pubDate {
      font-size: 0.7em;
      float: right;
    }
  }
  .feedContent {
    padding: 5px 0px 15px 15px;
    font-size: 0.85em;
    color: #888;
  }
}

.feedList {
  width: 100%;
  th {
    color: white;
    @include linear-gradient(#0081C4, #0081CA);
  }
  td, th {
    border: 1px solid grey;
    padding: 5px;
    text-align: left;
  }
}


#feedsWrapper {
  @include outer-container;
  #feedNames {
    @include span-columns(3);
    margin-right: 0;
    border-right: 5px solid #0081C4;
  }
  #feedContainer {
    @include span-columns(9);
  }
}

.noFeedToDisplay {
  margin: 10px;
}

.feedName {
  border-left: 10px solid #bbb;
  color: #888;
  &:hover {
    border-left: 10px solid #0081C4;
  }
  a, a:visited, a:active {
    color: #888;
    text-decoration: none;
    padding: $spacing;
    display: block;
  }
  a:hover {
    color: #888;
    text-decoration: underline;
  }
  &.selected {
    border-right: 15px solid #0081C4;
    border-left: 0;
    text-align: right;
    .linkToFeed {
      color: #0081C4;
      font-weight: bold;
    }
  }
}

.feedName:hover .feedActions {
  display: block;
}


.feedActions {
  font-size: 0.7em;
  float: right;
}

.enclosure {
  max-width: 70px;
  max-height: 70px;
  float: left;
  margin-right: $spacing;
}

.hidey {
  display: none;
}

#drag-file {
  height: 300px;
  width: 50%;
  margin: 0 auto;
  margin-top: $spacing;
  border: 10px dashed red;
  background-color: #ddd;
  &.hover{
    border: 10px dashed green;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
}
